* {
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font:100;
}


body {
    background-color: blueviolet;
}
.content {
    margin: 20px;
    background-color: aquamarine;
}

.topnav {
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: fixed;
    right: 10px;
    top:10px; 

}
.topnav ul {
overflow: hidden; 

}
.topnav ul li {
float: right;
    display: inline; 

}
header {
margin-top: 50px;
}
